@using UI.Helper
@{
    ViewBag.Title = "Billing Company";
}

<div class="panel panel-info topmar-10">
    <div class="panel-heading">
        @Html.MyActionLink("<span class='fa fa-dashboard fa-1x'></span> Dashboard", "Dashboard", "Index", "Dashboard", null, new { @class = "btn btn-info btn-sm" })
        @Html.Partial("_BillingMenu")
    </div>
    <div class="panel-body">
        <div id="table"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('#table').jtable({
            title: 'Billing Company',
            paging: true,
            pagesize: 3,
            sorting: true,
            defaultSorting: 'Name ASC',
            actions: {
                listAction: '@Url.Action("List")',
                updateAction: '@Url.Action("Update")',
                createAction: '@Url.Action("Create")'
            },
            fields: {
                Id: {
                    title: 'Id',
                    width:'1%',
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                Name: {
                    title: 'Name',
                    width: '5%'
                },
                PAN: {
                    title: 'PAN',
                    width: '2%'
                },
                GST: {
                    title: 'GST',
                    width: '2%'
                },
                Address: {
                    title: 'Address',
                    width: '2%',
                    type: 'textarea',
                },
                StateCode: {
                    title: 'StateCode',
                    width: '1%'
                },
            },
            formCreated: function (event, data) {
                data.form.validationEngine();
            },
            formSubmitting: function (event, data) {
                return data.form.validationEngine('validate');
            },
            formClosed: function (event, data) {
                data.form.validationEngine('hide');
                data.form.validationEngine('detach');
            }
        });
        $('#table').jtable('load');
    });
</script>




